{% extends 'layout.html.twig' %}

{% block title %}
    Výsledek vyhledávání
{% endblock %}

{% block banner %}
    <h1>Výsledek vyhledávání</h1>
{% endblock %}

{% block breadcrumbs %}
            <li><a href="{{ path('index') }}">Vyhledávání</a></li>
            <li id="current">Výsledek&nbsp;vyhledávání</li>
{% endblock %}

{% block content %}

    {% for employee in employees %}

    <article>
        <h2>{{ employee.name }} {{ employee.surname }}</h2>
        <img src="/img/user_{{ employee.id }}.jpg" alt="{{ employee.name }} {{ employee.surname }}">

        <section>
            <dl>
                <dt>Funkce</dt>
                {% for id in employee.functionsId %}
                    {% for role in functions %}
                        {% if role.id == id %}
                            <dd>{{ role.name }}</dd>
                        {% endif %}
                    {%  endfor %}
                {%  endfor %}

                <dt>Email</dt>
                <dd>
                    <address>
                        <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
                    </address>
                </dd>

                <dt>Místnost č.</dt>
                <dd>{{ employee.room }}</dd>
            </dl>
        </section>

        <footer>
            <a href="{{ path('employee_detail',{"id":employee.id}) }}">Detaily</a>
            <a href="{{ path('employee_edit',{"id":employee.id}) }}">Aktualizace&nbsp;údajů</a>
        </footer>
    </article>
    {% endfor %}
{% endblock %}